@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: "AirbnbCerealLight";   /*Can be any text*/
  src: local("AirbnbCerealLight"),
    url("./assets/fonts/Lato-Bold.636be8de.ttf") format("truetype");
}
@font-face {
  font-family: "Light";   /*Can be any text*/
  src: local("CairoLight"),
    url("./assets/fonts/Cairo/Cairo-Light.woff") format("woff");
}
@font-face {
  font-family: "Regular";   /*Can be any text*/
  src: local("CairoRegular"),
    url("./assets/fonts/Cairo/Cairo-Regular.woff") format("woff");
}
@font-face {
  font-family: "Bold";   /*Can be any text*/
  src: local("CairoBold"),
    url("./assets/fonts/Cairo/Cairo-Bold.woff") format("woff");
}
@font-face {
  font-family: "Black";   /*Can be any text*/
  src: local("CairoBlack"),
    url("./assets/fonts/Cairo/Cairo-Black.woff") format("woff");
}
@font-face {
  font-family: "SemiBold";   /*Can be any text*/
  src: local("CairoSemiBold"),
    url("./assets/fonts/Cairo/Cairo-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "ExtraLight";   /*Can be any text*/
  src: local("CairoExtraLight"),
    url("./assets/fonts/Cairo/Cairo-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Poppins";   /*Can be any text*/
  src: local("PoppinsBold"),
    url("./assets/fonts/Poppins-Bold.404e299b.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsRegular";   /*Can be any text*/
  src: local("PoppinsRegular"),
    url("./assets/fonts/Poppins-Regular.8081832f.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsSemiBold";   /*Can be any text*/
  src: local("PoppinsSemiBold"),
    url("./assets/fonts/Poppins-SemiBold.cce5625b.ttf") format("truetype");
}
@font-face {
  font-family: "LatoBold";   /*Can be any text*/
  src: local("LatoBold"),
    url("./assets/fonts/Lato-Bold.636be8de.ttf") format("truetype");
}
